body {
}
h2 {
  text-align:center;
}
.centered {
  text-align:center;
}
.hidden {
  display:none !important;
}
#context {
  width:100%;
}
#screen {
  width:986px;
  height:482px;
  background:lightgrey;
  position:relative;
  /*position:absolute;*/
  /*bottom:0;*/
  padding-left:4px;
  margin:0 auto;
}
#land {
  position:absolute;
  bottom:0;
}
#tetriscreen {
  position:absolute;
  bottom:0;
  width:500px;
  margin-left:483px;
  border-left:1px red solid;
}
.block {
  width:20px;
  height:20px;
  background:grey;
  border: 0px solid grey;
  margin-right:2px;
  margin-top:2px;
}
.block-empty {
  background:none !important;
  border: 0px solid lightgrey !important;
  
}
.block-person, .block-person-right, .block-person-up {
  background:url("../images/person-right.png") !important;
  border: 0px solid blue !important;
}
.block-person-left {
  background:url("../images/person-left.png") !important;
  border: 0px solid blue !important;
}
.block-person-dead {
  background:url("../images/person-dead.png") !important;
  border: 0px solid red !important;
}
.landblock {
  display:inline-block;
}
